* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

.product-card:hover {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}